.InputElement {
  outline: none;
  /* border: 1px solid #ccc; */
  background-color: white;
  font: inherit;
  /* padding: 6px 10px; */
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.Invalid.InputElement:focus {
  background-color: #fda49a;
}

.Invalid {
  border: 1px solid red;
}
